.git
.DS_Store
hello_rust/target/
Muti/target/
hello_*/events/
hello_python/__pycache__/
hello_python/.venv/
hello_python/.pytest_cache/
hello_javascript/node_modules/
hello_php/vendor/
hello_csharp/bin/
hello_csharp/obj/
hello_java/target/
hello_dart/.dart_tool/
hello_dart/build/
